html {
margins: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: lightgray;
}

nav {
display: flex;
}

ul {
list-style: none;
}

li {
color: blue;
}

a {
list-style: none;
}

Header {
font-size: 7rem;
color: deeppink;
margin-top: 4rem;
align-self: center;
justify-self: center;
}

input {
border: 2pt solid black;
}


.search-buttons {
display: flex;
justify-content: center;
}

button {
background-color: white;
}

footer {
display: flex;
}
